#job-table, #comment-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#job-table td, #job-table th, #comment-table td, #comment-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#job-table tr {
  cursor:pointer;
}

/* #job-table tr:nth-child(even){background-color: #f2f2f2;} */

#job-table tr:hover {background-color: #ddd;}

#job-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

textarea {
  width: 50%;
  height: 80px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

select {
  border-radius: 4px;
  padding: 3px 5px;
}

input[type=text]:focus {
  border: 3px solid rgb(92, 167, 228);
  padding: 4px 10px;
  border-radius: 4px;
}

input[type=text] {
  padding: 2px 5px;
}

button {
  background-color: #d1ebd2;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor:pointer;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

input[type=submit] {
  background-color: #d1ebd2;
  border-radius: 12px;
  transition-duration: 0.4s;
}